* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    background-color: #FEA501;
    width: 100%;
    height: auto;
}

header {
    background-color: #17242A;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 8vh;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    top: 0;
    border-bottom: 1px solid #FEA501;
}

a {
    text-decoration: none;
}

#name {
    padding-top: 0.7%;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10%;
    color: #fff;
}

.fir_header {
    width: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    font-weight: bold;
    height: 100%;
}

header div a {
    color: #fff;
    align-items: center;
    width: auto;
    padding: 8px 20px;
    padding-top: 3%;
    height: 8vh;
}

header div a:hover {
    color: #FEA501;
}

main {
    width: 100%;
    margin-top: 3.8%;
}

section {
    width: 100%;
    margin-bottom: 2%;
}

#second_sect, #third_sect, #fourth_sect {
    padding: 3% 10%;
}


.slider {
    width: 75%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 70vh;
    box-sizing: border-box;
}

.first_sect div {
    width: 50%;
}

.first_sect div img {
    margin-left: 22%;
    margin-top: -6%;
}

.heart-button {
    display: inline-block;
    padding: 2%;
    font-size: 24px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
    animation: beat 0.5s infinite;
}

.shopping {
    width: 23%;
    display: block;
    position: absolute;
    top: 17%;
    left: 77%;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.big_name {
    font-size: 400%;
}

.description {
    margin-top: 4%;
    color: #ccc;
    width: 50%;
    text-align: justify;
}

.description a {
    text-decoration: none;
    color: #FEA501;
    font-weight: bold;
}

.renting_name {
    text-align: center;
    font-size: 300%;
    color: #fff;
    font-weight: bold;
}

.renting_description {
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    width: 65%;
    text-align: justify;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.renting_description p {
    padding-top: 3%;
}

.tool_lines {
    width: 83%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.imgs {
    width: 100%;
}

.inner_div {
    text-align: center;
    background: #17242A;
    padding: 3%;
    border-radius: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 50%;
}

.tool_name {
    color: #fff;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    margin-bottom: 7%;
}

.daily_renting {
    margin-top: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FEA501;
    background-color: #17242A;
    padding: 5px;
    border-radius: 5px;
}

.gif {
    width: 10%;
}

.order_call {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #17242A;
    background-color: #FEA501;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 10;
    color: #fff;
    font-weight: bold;
}

.modalContent {
    display: flex;
    width: 70%;
    background-color: #FEA501;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 20px;
}

.modalInfo {
    width: 100%;
    padding: 8px 16px;
    text-align: center;
}

#modalName {
    font-size: 250%;
    margin-bottom: 10%;
}

#modalPrice {
    font-size: 200%;
    margin-bottom: 5%;
}

.modalImg {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 12%;
    left: 82.4%;
    cursor: pointer;
}

.close:hover svg {
    color: #17242A;
}

hr {
    height: 0.5%;
    background-color: #17242A;
    border: 1px solid #17242A;
}

.modalInput {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #000;
}

#submitOrder {
    padding: 8px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #17242A;
    color: #fff;
    margin-top: 8%;
    cursor: pointer;
    border: 1px solid #17242A;
    border-radius: 5px;
}

.more {
    text-align: center;
}

.more a {
    background-color: #17242A;
    color: #fff;
    padding: 8px 21px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.more a:hover {
    cursor: pointer;
    color: #FEA501;
}

#sec_header {
    display: none;
}

#menu {
    display: none;
}

#shop_img:hover {
    cursor: pointer;
}

.slide:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    background-color: #17242A;
    color: #fff;
    font-weight: bold;
    align-items: center;
}

@media screen and (max-width: 1415px) {
    .fir_header {
        width: 60%;
    }

    header div a {
        padding-top: 2%;
    }

    .heart-button {
        width: 80%;
        font-size: 22px;
    }

    #name {
        padding-top: 0.9%;
    }
}

@media screen and (max-width: 1182px) {
    .fir_header {
        width: 75%;
    }

    header div a {
        padding-top: 2%;
    }

    .heart-button {
        width: 80%;
        font-size: 22px;
    }

    .shopping {
        position: static;
        width: 40%;
        text-align: center;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .slider {
        width: 100%;
    }
}


@media screen and (max-width: 973px) {
    #second_sect, #third_sect {
        padding: 3% 0%;
    }

    .tool_name, .renting_name {
        font-size: 250%;
    }

    .fir_header {
        display: none;
    }

    #menu {
        display: block;
        background: #17242A;
        border: none;
        color: #fff;
        width: 30%;
        cursor: pointer;
    }

    #sec_header {
        z-index: 2;
        position: fixed;
        text-decoration: none;
        color: #fff;
        background-color: #17242A;
        top: 8%;
        left: 69.5%;
        font-weight: bold;
    }

    #sec_header a {
        padding: 8px 16px;
        border-bottom: 1px solid #FEA501;
    }

    a {
        color: #fff;
    }

    .modalImg {
        width: 60%;
        height: auto;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #modalName {
        font-size: 200%;
        margin-bottom: 10%;
    }

    .modalContent {
        display: grid;
        width: 45%;
        background-color: #FEA501;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
        border-radius: 20px;
    }

    .close {
        position: absolute;
        top: 4%;
        left: 68.4%;
        cursor: pointer;
    }

    #name {
        padding-top: 1.2%;
    }

}

@media screen and (max-width: 780px) {
    .tool_lines {
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }

    .inner_div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
    #first_sect {
        margin-top: 9%;
    }

    .tool_name, .renting_name {
        font-size: 200%;
    }

    .slide {
        height: 50vh;
    }

    .shop {
        width: 120%;
        margin-left: -9%;
    }

    .heart-button img {
        width: 30%;
    }

    .modalContent {
        width: 75%;
    }

    #modalName {
        font-size: 25px;
    }

    #modalPrice {
        font-size: 30px;
    }

    .close {
        position: absolute;
        top: 10%;
        left: 79.4%;
        cursor: pointer;
    }

    .renting_description {
        width: 90%;
    }

    #name {
        padding-top: 1.4%;
    }

}

@media screen and (max-width: 450px) {
    .tool_lines {
        font-size: 18px;
    }

    #name {
        padding-top: 3.4%;
    }

    .tool_name, .renting_name {
        font-size: 25px;
    }

    .renting_description {
        font-size: 18px;
        text-align: left;
    }

    .inner_div {
        width: 80%;
    }

    #sec_header {
        left: 65.5%;
    }

    .slide {
        height: 40vh;
    }
}